@charset "UTF-8";
/*Обнуляем стили, подготавливаем к работе****/
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #2C2B31;
  text-align: center;
  font-size: 12.5px;
}
.header__offer__block {
  background: #F19D2F;
  padding: 0.5rem;
}
.header__offer__block img {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
.header__logo__block {
  background: #FFD1AC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.main__banner_and_timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: absolute;
  color: white;
}
.main__banner_timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F19D2F;
  position: relative;
  bottom: 6rem;
  border-radius: 1rem;
  padding: 0.2rem;
  width: 103px;
}
.main__banner_timer_text {
  font-size: 10.6px;
  text-transform: uppercase;
}
.main__banner_timer_timer {
  font-size: 21.25px;
}
.main__banner_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #37D997;
  position: relative;
  bottom: 6rem;
  border-radius: 1rem;
  padding: 0.2rem;
  width: 116px;
}
.main__banner_price_crossed {
  font-size: 18px;
  text-decoration: line-through;
  text-decoration-color: #E27500;
  text-decoration-thickness: 3.5px;
}
.main__banner_price_main {
  font-size: 22px;
}
.main__infoblock {
  padding: 1rem;
}
.main__infoblock__about {
  font-weight: 400;
  color: #2C2B31;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__infoblock__about_selling {
  color: #37D997;
}
.main__infoblock__title {
  text-transform: uppercase;
  font-size: 19.17px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main__infoblock__slider {
  overflow: hidden;
  margin-bottom: 1rem;
}
.main__infoblock__slider ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}
.main__infoblock__slider li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}
.main__infoblock__slider img {
  display: block;
  height: auto;
  max-width: 100%;
}
.main__infoblock .lSPager li.active {
  opacity: 0.5;
}
.main__infoblock__text {
  font-size: 15px;
  font-weight: normal;
}
.main__infoblock__text img {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
.main__infoblock__text span {
  font-weight: bold;
}
.main__infoblock__text_delivery {
  margin-bottom: 0.4rem;
}
.main__infoblock__text_instock {
  margin-bottom: 0.4rem;
}
.main__infoblock .star-ratio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 1rem;
}
.main__infoblock .ratio {
  width: 6.5rem;
  height: 2rem;
  position: relative;
  background: url(../img/star2.svg);
  background-size: 1.3rem;
  background-repeat: repeat-x;
}
.main__infoblock .star-ratio:nth-of-type(1) {
  width: 1.3rem;
  z-index: 5;
}
.main__infoblock .star-ratio:nth-of-type(2) {
  width: 2.6rem;
  z-index: 4;
}
.main__infoblock .star-ratio:nth-of-type(3) {
  width: 3.9rem;
  z-index: 3;
}
.main__infoblock .star-ratio:nth-of-type(4) {
  width: 5.2rem;
  z-index: 2;
}
.main__infoblock .star-ratio:nth-of-type(5) {
  width: 6.5rem;
  z-index: 1;
}
.main__infoblock .star-ratio:checked,
.main__infoblock .star-ratio:hover {
  background: url(../img/star.svg);
  background-size: 1.3rem;
  background-repeat: repeat-x;
}
.main__infoblock .star-ratio:hover ~ .star-ratio {
  background: url(../img/star2.svg);
  background-size: 1.3rem;
  background-repeat: repeat-x;
}
.main__infoblock .star-ratio-count {
  position: absolute;
  top: 2px;
  left: 115px;
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}
.main__infoblock__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.6rem;
}
.main__infoblock__options_text {
  font-size: 10px;
  font-weight: normal;
  text-align: center;
}
.main__infoblock__options_option {
  text-align: center;
  background: white;
  border-radius: 0.8rem;
}
.main__infoblock__options_option select {
  font-size: 21.5px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8px;
  border: none;
  width: 170px;
  height: 50px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 31px -16px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 31px -16px rgba(34, 60, 80, 0.2);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/arrow.svg) no-repeat right;
  background-position-x: calc(100% - 8px);
  cursor: pointer;
}
.main__infoblock__button {
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
.main__infoblock__button button {
  background: #37D997;
  color: white;
  text-transform: uppercase;
  width: 356px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  font-size: 30px;
  cursor: pointer;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_light.ttf") format("truetype");
  font-style: light;
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
body {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  background: #F0F0F0;
  font-size: 10px;
  color: #2C2B31;
}